{% extends "base.html" %}
{% block sub_content %}

<div id="page-wrapper">
    <div class="container-fluid">
        <div class="row bg-title">
            <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                <h4 class="page-title">Редактирование продукта</h4> </div>
            <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">

                <!-- <a href="/add_product" target="_blank" class="btn btn-danger pull-right m-l-20 hidden-xs hidden-sm waves-effect waves-light">Добавить продукт</a> -->

                <ol class="breadcrumb">
                    <li><a href="/edit_type_of_roofing_material" target="_blank" >|| Тип материалов |</a></li>
                    <li><a href="/edit_color" target="_blank" >| Цвет |</a></li>
                    <li><a href="/edit_coverage" target="_blank" >| Покрытие |</a></li>
                    <li><a href="/edit_brand" target="_blank" >| Коллекция ||</a></li>
                </ol>
            </div>
            <!-- /.col-lg-12 -->
        </div>

        {% if message %}
        <div id="notification" class="alert alert-info" style="display: none;">
            {{ message }}
        </div>
        {% endif %}

        <form method="POST">        
        
        <div class="row">
            <div class="col-md-8 col-xs-12">
                <div class="white-box">

                        <div class="form-group">
                            <label class="col-md-12">Название продукта</label>
                            <div class="col-md-12">
                                <input type="text" class="form-control form-control-line" id="name_materials" name="name_materials" value="{{ request.form.get('name_materials', '') }}" required>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-12">Тип материалов</label>
                            <div class="col-md-12">
                                <select name="id_type_of_roofing_material" id="id_type_of_roofing_material" class="form-control form-control-line" required>
                                    <option value="" disabled selected>Выберите тип материалов</option>
                                    {% for trm in type_of_roofing_material %} 
                                    <option value="{{ trm['id_type_of_roofing_material'] }}">{{ trm['name_type_of_roofing_material'] }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-12">Цвет</label>
                            <div class="col-md-12">
                                <select name="id_color" id="id_color" class="form-control form-control-line" required>
                                    <option value="" disabled selected>Выберите цвет</option>
                                    {% for col in color %} 
                                    <option value="{{ col['id_color'] }}">{{ col['name_color'] }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-12">Покрытие</label>
                            <div class="col-md-12">
                                <select name="id_coverage" id="id_coverage" class="form-control form-control-line" required>
                                    <option value="" disabled selected>Выберите покрытие</option>
                                    {% for cov in coverage %} 
                                    <option value="{{ cov['id_coverage'] }}">{{ cov['name_coverage'] }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-12">Коллекция</label>
                            <div class="col-md-12">
                                <select name="id_brand" id="id_brand" class="form-control form-control-line" required>
                                    <option value="" disabled selected>Выберите коллекцию</option>
                                    {% for br in brand %} 
                                    <option value="{{ br['id_brand'] }}">{{ br['name_brand'] }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-12">Толщина</label>
                            <div class="col-md-12">
                                <input type="text" class="form-control form-control-line" id="thickness" name="thickness" value="{{ request.form.get('thickness', '') }}" required>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-12">Размер</label>
                            <div class="col-md-12">
                                <input type="text" class="form-control form-control-line" id="place" name="place" value="{{ request.form.get('place', '') }}" required>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-12">Количество</label>
                            <div class="col-md-12">
                                <input type="text" class="form-control form-control-line" id="count" name="count" value="{{ request.form.get('count', '') }}" required>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-12">Цена</label>
                            <div class="col-md-12">
                                <input type="text" class="form-control form-control-line" id="price" name="price" value="{{ request.form.get('price', '') }}" required>
                            </div>
                        </div>

                    <div class="form-group">
                        <div class="col-sm-12">
                            <button class="btn btn-success">Добавить продукт</button>
                        </div>
                    </div>

                </div>
            </div>
        </div>        
        
        </form>

    </div>
</div>

{% endblock %}