{% extends 'bootstrap/base.html' %}

{% block head %}
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {{ ckeditor.load() }}
    {{ super() }}

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename = 'css/bootstrap/dist/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename = 'components/sidebar-nav/src/metisMenu.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename = 'components/toast-master/css/jquery.toast.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename = 'components/morrisjs/morris.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename = 'components/chartist/dist/index.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename = 'components/chartist-plugin-tooltips/dist/chartist-plugin-tooltip.css') }}">  
    <link rel="stylesheet" href="{{ url_for('static', filename = 'css/animate.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename = 'css/colors/default.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/img.css') }}">


{% endblock %}

{% block title %}
    Кровельные материалы
{% endblock %}

{% block navbar %}
    {% include '_header.html' %}
{% endblock %}

{% block content %}

    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <ul>
                {% for category, message in messages %}
                    <li class="alert alert-{{ category }}">
                        <i class="icon-{{ category }}"></i> {{ message }}
                    </li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
    {% block sub_content %}
    {% endblock %}


{% block footer %}
    {% include '_footer.html' %}
{% endblock %}

    <!-- <script src="{{ url_for('static', filename='js/plugins/bower_components/jquery/dist/jquery.min.js') }}"></script> -->
    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

    <script src="{{ url_for('static', filename='js/bootstrap/dist/js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='components/sidebar-nav/src/metisMenu.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery.slimscroll.js') }}"></script>
    <script src="{{ url_for('static', filename='js/waves.js') }}"></script>
    <script src="{{ url_for('static', filename='js/custom.min.js') }}"></script>
    <script src="{{ url_for('static', filename='components/waypoints/lib/jquery.waypoints.js') }}"></script>
    <!-- Chartist JS -->
    <script src="{{ url_for('static', filename='components/chartist/dist/index.js') }}"></script>
    <script src="{{ url_for('static', filename='components/chartist-plugin-tooltips/dist/chartist-plugin-tooltip.js') }}"></script>
    <script src="{{ url_for('static', filename='components/jquery-sparkline/jquery.sparkline.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/dashboard1.js') }}"></script>
    <script src="{{ url_for('static', filename='components/toast-master/js/jquery.toast.js') }}"></script>    
    
    <script src="{{ url_for('static', filename='js/message.js') }}"></script>

{% endblock %}

