{% extends "base.html" %}
{% block content %}
<div class="container" style="margin-left: 240px; padding: 20px;">
    <h2>Все заказы</h2>

    <form method="post" class="form-inline" style="margin-bottom: 15px;">
        <div class="form-group">
            <input type="text" name="search" class="form-control input-lg" placeholder="Поиск по ID, имени или фамилии" value="{{ search_query }}" style="width: 300px;">
        </div>
        <button type="submit" class="btn btn-primary" style="margin-left: 10px;">Поиск</button>
    </form>


    <div class="table-responsive">
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>ID заказа</th>
                    <th>Дата</th>
                    <th>Клиент</th>
                    <th>Продукт</th>
                    <th>Количество</th>
                    <th>Цена</th>
                    <th>Статус</th>
                    <th>Действие</th>
                </tr>
            </thead>
            <tbody>
                {% for order in orders %}
                <tr>
                    <td>{{ order.id_order }}</td>
                    <td>{{ order.order_date }}</td>
                    <td>{{ order.firstname }} {{ order.lastname }}</td>
                    <td>{{ order.name_materials }}</td>
                    <td>{{ order.quantity }}</td>
                    <td>{{ order.price }}</td>
                    <td>
                        {% for s in statuses %}
                            {% if s.id_status == order.id_status %}
                                {{ s.name_status }}
                            {% endif %}
                        {% endfor %}
                    </td>
                    <td>
                        <form action="/update_order_status/{{ order.id_order }}" method="post" class="form-inline" style="white-space: nowrap;">
                            <select name="status" class="form-control input-sm" style="display: inline-block; width: auto; vertical-align: middle;">
                                {% for status in statuses %}
                                    <option value="{{ status.id_status }}" {% if status.id_status == order.id_status %}selected{% endif %}>
                                        {{ status.name_status }}
                                    </option>
                                {% endfor %}
                            </select>
                            <button type="submit" class="btn btn-sm btn-primary" style="display: inline-block; margin-left: 5px; vertical-align: middle;">
                                Обновить
                            </button>
                        </form>
                                             
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
